h1{font-size: 45px;color: aliceblue;position: absolute;right:0px;top: -1%;left: 10%;}
.img1{width: 110px;position: absolute;right: 90%;}
body{background-color:#010212;}
.h2firt{color: rgb(172, 178, 183);position: absolute;bottom: 85%;right: 80%;top: 6%;}